mixin seo(title, description, keywords, image="https://"+domain+"/images/logo.png")
  title=title
  meta(name="description" content=description)
  meta(name="keywords" content=keywords)
  meta(name="author" content=author)
  meta(property="og:title" content=title)
  meta(property="og:url" content="https://"+domain)
  meta(property="og:type" content="website")
  meta(property="og:description" content=description)
  meta(property="og:image" content=image)